<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
  <div class="col-xs-12" style="margin-top: 20px">
    <input placeholder="Type to search..." type="text" [(ngModel)]="filteredStatus">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes | filter:filteredStatus:'name'; let i = index"
      [recipe]="recipeEl"
      [index]="i"></app-recipe-item>
  </div>
</div>
